<main class="contenedor">
    <form action="/editar-perfil" method="POST" class="default-form" enctype="multipart/form-data">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Ingresa tu nombre" value="{{usuario.nombre}}" required>
        </div>
        <div class="campo">
            <label for="email">Email</label>
            <input type="text" name="email" placeholder="Ingresa tu correo" value="{{usuario.email}}" required>
        </div>
        <div class="campo">
            <label for="password">Contraseña</label>
            <input type="password" name="password" placeholder="Ingresa la nueva contraseña solo si deseas actualizarla"
                id="UsuarioContrasenia">
        </div>
        <div class="campo">
            <label for="passwordRepetido">Repetir contraseña</label>
            <input type="password" name="passwordRepetido" placeholder="Repite tu nueva contraseña"
                id="UsuarioContraseniaRepeticion">
        </div>
        <div class="campo">
            <label for="imagenPerfil">Imagen</label>
            <input type="file" name="imagenPerfil">
            <img src="uploads/perfiles/{{usuario.imagen}}" alt="Perfil" class="admin-perfil">
        </div>
        <div class="campo acciones">
            <a href="/administracion">Volver al panel de administración</a>
        </div>
        <div class="campo">
            <input type="submit" value="actualizar" class="btn btn-rojo" id="btnSubmitRegistro">
        </div>
    </form>
</main>